<!-- <h1>Users List</h1> -->

<div style="margin-bottom: 10px;">
    <span style="float: left;" class="usersListHeading">Users List</span>
    <span style="float: right;">
        <p-button (click)="showDialog()" label="Add User" class="addButton"></p-button>
        <p-dialog header="Add Details" [(visible)]="visible" [style]="{width: '60vw'}"
        [closable]="true">
            
        <form [formGroup]="userDetails" >
            <div class="p-grid">
                <div class=" p-col-6">
                    <label>User Name <span>*</span></label>
    
                    <input type="text" class="inputEl1" #inputName formControlName="userName" [(ngModel)]="productName"/>
                    <br>
                    <span class="spanWarningEl" *ngIf="userName&&userName.invalid&&userName.touched">Please enter the UserName</span>
    
                </div>

                <!-- <div class="p-col-12">
                    <label class="txt-style">Asset Class<font *ngIf="validateAssetClass" class="validation-red">*</font></label>
                    <div class="m-t-5">
                        <p-dropdown placeholder="Select Asset Class" autoResize="autoResize"
                            formControlName="assetClass" [options]="assetClassOptions"
                            [(ngModel)]="map.assetClass" appendTo="body" dropdownIcon="fa fa-sort"
                            (onChange)="onChangeAssetClass($event)"
                            [filter]="true" [resetFilterOnHide]="true">
                        </p-dropdown>
                    </div>
                    <div class="validation-red">
                        <span
                            *ngIf="!newsLetterMappingForm.controls['assetClass'].valid && (newsLetterMappingForm.controls['assetClass'].dirty || newsLetterMappingForm.controls['assetClass'].touched) ">Please
                            Select Asset Class</span>
                    </div>
                </div> -->
            

                <div class="labelContainer p-col-6" style="float: right;width: 50%;">
                    <label for="userId" >Id <span>*</span></label>
                    <input type="number" class="inputEl12" #inputId   formControlName="userId" [(ngModel)]="productId" >
                    <br>
                    <span class="spanWarningEl idWarningEl" *ngIf="userId&&userId.touched&&userId.invalid">Please enter the Id</span>
                </div>
                <br>

                <div class="labelContainer p-col-6" style="float: left;width: 50%;">
                    <label>Email <span>*</span></label>
                    
                    <input type="text" class="inputEl3" #inputWeight formControlName="userEmail" [(ngModel)]="productEmail" >
                    <br>
                    <span class="spanWarningEl" *ngIf="userEmail&&userEmail.invalid&&userEmail.touched">Please enter the email</span>
                    
                </div>
                <div class="labelContainer p-col-6" style="float: right;width: 50%;">
                    <label>Ph <span>*</span></label>
                    
                    <input type="number" class="inputEl4" #inputMobile formControlName="userPhone" [(ngModel)]="productNumber">
                    <br>
                    <span class="spanWarningEl" *ngIf="userPhone.invalid && userPhone.touched">Please enter the Mobile number</span>
                </div>
                <div class="labelContainer p-col-6" style="float: left;width: 50%;">
                    <label>Date of Birth <span>*</span></label>
    
                    <input type="date" class="inputEl2" #inputage formControlName="userDOB">
    
                </div>
            
            <div class="labelContainer p-col-6" style="float: right;width: 50%;"> Gender <span>*</span>
                <input type="radio" id="male" name="fav_language" value="male" #inputMale >
                <label for="male">Male</label>
                <input type="radio" id="female" name="fav_language" value="female" #inputFemale>
                <label for="female">Female</label>

            </div>
            <div class="labelContainer p-col-6" style="float: right;width: 50%;">
                <label for="loc">Location <span>*</span></label>

                <select class="selectContainer" name="location" id="loc" #inputLocation formControlName="userLocation">
                    <option value="Hyderabad" selected>Hyderabad</option>
                    <option value="Benguluru">Benguluru</option>
                    <option value="Chennai">chennai</option>
                    <option value="Mumbai">Mumbai</option>
                </select>
            </div>
            <div class="labelContainer p-col-6" style="float: left;width: 50%;">
                <label>Amount <span>*</span></label>
                
                <input type="number" class="inputEl5" #inputPrice formControlName="userPrice" [(ngModel)]="productPrice">
                <br>
                <span style="color:red;padding-left: 40px;" *ngIf="userPrice&&userPrice.invalid&&userPrice.touched">Please enter the Amount</span>
                
            </div>
            <div class="editTheCheckbox p-col-6"  style="width: 50%;" >
                <input type="checkbox" id="checkbox" #inputCheckbox>
                <label for="checkbox">Admin User</label>

            </div>
            <div>
                <p-button
                [disabled]="userDetails.invalid"
                *ngIf="addUser"
                (click)="onAddButton(inputId,inputName,inputage,inputWeight,inputMobile,inputMale,inputFemale,inputLocation,inputPrice,inputCheckbox)"
                label="" styleClass="p-button-danger">Add Details
            </p-button>
            <p-button 
            *ngIf="UpdateUser"
            (onClick)="updateDetails()"
             #updateButton label="" styleClass="p-button-danger">Update Details
            </p-button>
            <p-button (onClick)="cancelUser()" class="cancelButton">  Cancel</p-button>
            </div>
            
            </div>
        </form>
        </p-dialog>

    </span>
</div>
<div style="margin-top: 54px;padding-top: 46px;">
    <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date Of Birth</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Gender</th>
                <th>Location</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td> {{product.id}}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.age }}</td>
                <td>{{ product.email }}</td>
                <td>{{ product.phone }}</td>
                <td>{{ product.Gender }}</td>
                <td>{{product.Location}}</td>
                <td>{{product.price}}</td>
                <td >
                    <i class="fa-solid fa-pen-to-square" (click)="edittheRow(product.id)" *ngIf="product.edit" style="padding-right: 23px;"></i>
                    <i class="fa-solid fa-trash" (click)="onDelete(product.id)"></i>
                </td>
        </ng-template>
    </p-table>
</div>



<!-- <p-button (click)="showDialog()"   label="Add Details to the Table"
    class="addButton"></p-button>
<p-dialog header="Header" [(visible)]="visible" [style]="{width: '50vw'}">
    <div class="labelContainer">
        <label>Enter the name</label>

        <input type="text" class="inputEl1" #inputName />

    </div>

    <div class="labelContainer">
        <label>Enter the age</label>

        <input type="number" class="inputEl2" #inputage>

    </div>
    <div class="labelContainer">
        <label>Enter the Weight</label>

        <input type="number" class="inputEl3" #inputWeight>

    </div>
    <div class="labelContainer">
        <label>Enter the Height</label>

        <input type="number" class="inputEl4" #inputHeight>

    </div>
    <div>
        <input type="radio" id="male" name="fav_language" value="male" #inputMale>
        <label for="male">Male</label>
        <input type="radio" id="female" name="fav_language" value="female" #inputFemale>
        <label for="female">Female</label>

    </div>
    <div class="labelContainer">
        <label>Enter the Amount</label>

        <input type="number" class="inputEl5" #inputPrice>

    </div>
    <p-button (click)="onAddButton(inputName,inputage,inputWeight,inputHeight,inputMale,inputFemale,inputPrice)" label=""
        styleClass="p-button-danger">Add Details</p-button>

</p-dialog> -->

<!-- <div class="addColumn">
    <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Gender</th>
                <th>Checkbox</th>
                <th>Price</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.age }}</td>
                <td>{{ product.height }}</td>
                <td>{{ product.weight }}</td>
                <td>{{ product.Gender }}</td>
                <td>
                    <input type="checkbox" (click)="checkboxFun(checkbox)" #checkbox >
                </td>
                <td *ngIf="priceElement;else pricecolum">{{product.price}}</td>
                <ng-template #pricecolum>
                    <td [pEditableColumn]="product.price" pEditableColumnField="price" >
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.price" />
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{ product.price }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
    
                </ng-template>
            </tr>
        </ng-template>
    </p-table>

</div> -->